body{
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left:auto ;
}

button{
  background-color: lightgray;
  color: #fdffff;
  padding: 5px 20px;
  border-radius: 2px;
  border-style: none;
  height: 25px;
  line-height: 13px;
}
input{
  height: 25px;
  width: 300px; 
};
